# === Camera RTSP Configuration ===
# Base URL (host:port) — without rtsp:// prefix or credentials
CAMERA_URL_1=111.93.234.134:532

# Credentials (URL-encoded if special characters)
CAMERA_USER=stream
CAMERA_PASS=Stream%401234

# === Vision LLM Configuration ===
NVIDIA_API_KEY=nvapi-sssqqsqsqsqefe
# VISION_LLM_MODEL=stepfun-ai/step-3.7-flash
VISION_LLM_MODEL=mistralai/mistral-small-4-119b-2603
ACTIVITY_CLASSES=using_computer,working_with_machine,using_phone